.form {
  &__container {
    margin: 31px 40px;
    padding: 28px 30px;
    padding-bottom: 0;
    background-color: $color-white;
    border-radius: 25px;
    max-height: 717px;
  }
  &__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 42px;
    border-bottom: 1px solid $color-solitude;
  }
}

.form-navigation {
  &__option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 500;
    color: $color-wild-blue-yonder;
    &.active-link::after {
      content: url('@assets/icons/nav-active-icon.svg');
      position: absolute;
      top: 184px;
    }
  }
  &__option.active-link,
  &__option:hover {
    color: $color-blue;
  }
  &__option:hover {
    cursor: pointer;
  }

  &__option:last-of-type {
    margin-left: 4px;
  }
}

.form-profile {
  &__container {
    margin-top: 52px;
    form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 53px;
    }
  }

  &__avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 2px;

    img {
      width: 132px;
      height: 130px;
      border-radius: 50%;
      -o-object-fit: cover;
      object-fit: cover;
    }

    input {
      opacity: 0;
      width: 1px;
      height: 1px;
    }

    .avatar-input-toggle {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 30px;
      height: 30px;
      position: relative;
      bottom: 66px;
      left: 102px;
      border-radius: 50%;
      background-color: $color-blue;
      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  &__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
  }

  &__button {
    border: none;
    border-radius: 15px;
    background-color: $color-blue;
    color: $color-white;
    text-align: center;
  }

  &__button-text {
    font-size: 18px;
  }

  &__button:hover {
    cursor: pointer;
    background-color: $color-alice-blue;
    color: $color-blue;
  }
}

.form-input {
  width: 100%;
  max-width: 418px;
  label {
    padding-bottom: 11px;
    color: $color-nero;
  }

  &__input,
  &__wrapper {
    max-height: 50px;
    padding: 16px 20px;
    border: 1px solid $color-pattens-blue;
    outline: none;
    border-radius: 15px;
    font-size: 15px;
    color: $color-wild-blue-yonder;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      border: none;
      outline: none;
      font-size: 15px;
      color: $color-wild-blue-yonder;
    }
  }

  &__input::-webkit-input-placeholder,
  &__wrapper input::-webkit-input-placeholder,
  &__input::-moz-placeholder,
  &__wrapper input::-moz-placeholder,
  &__input:-ms-input-placeholder,
  &__wrapper input:-ms-input-placeholder,
  &__input::-ms-input-placeholder,
  &__wrapper input::-ms-input-placeholder,
  &__input::placeholder,
  &__wrapper input::placeholder {
    color: $color-wild-blue-yonder;
  }
}

@media screen and (min-width: 1024px) {
  .form-profile {
    &__fields {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 80px);
      grid-column-gap: 29px;
      grid-row-gap: 22px;
      width: 100%;
      height: 100%;
    }

    &__button {
      grid-area: 6 / 2 / 7 / 3;
      margin-left: calc(55% - 2px);
      margin-top: 8px;
      max-width: 192px;
      max-height: 50px;
    }
  }
}

@media screen and (max-width: 767px) {
  .form {
    &__container {
      max-height: 1180px;
      margin: 25px;
      padding: 22px 20px;
      border-radius: 15px;
    }
    &__navigation {
      gap: 34px;
    }
  }
  .form-profile {
    &__container form,
    &__fields {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    &__fields {
      gap: 17px;
    }
    &__container {
      margin-top: 22px;
      form {
        gap: 24px;
      }
    }
    &__avatar {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      img {
        margin-left: 18px;
        width: 170px;
        height: 170px;
      }

      .avatar-input-toggle {
        width: 39px;
        height: 39px;
        top: 90px;
        left: 190px;
        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
    &__button {
      padding: 12px 74px;
      width: 285px;
      height: 40px;
      border-radius: 9px;
    }
    &__button-text {
      font-size: 15px;
    }
  }
  .form-navigation {
    &__option {
      margin-left: 4px;
      padding: 0 2px;
      padding-bottom: 10px;
      font-size: 13px;
      &.active-link::after {
        content: url('@assets/icons/nav-active-icon-mobile.svg');
        top: 200px;
      }
    }
    &__option:last-of-type {
      margin-left: 0;
    }
  }

  .form-input {
    font-size: 13px;
    max-width: 285px;
    label {
      padding-bottom: 8px;
    }
    &__input {
      padding: 13px 15px;
    }
    &__input,
    &__wrapper {
      max-height: 40px;
      border-radius: 10px;
      font-size: 12px;
    }
    &__wrapper {
      padding: 12px 13px;
      input {
        font-size: 13px;
      }
      svg {
        margin-right: 5px;
      }
    }
  }
}

@media screen and (min-width: 425px) and (max-width: 769px) {
  .form-profile {
    &__container,
    &__fields {
      align-items: center;
    }
    &__avatar {
      justify-content: center;
    }
  }
}
