.header {
  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: $color-white;
  }

  &__title {
    margin-top: 14px;
    font-size: 28px;
    color: $color-bay-of-many;
  }

  &__user-toggles,
  &__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  &__user-toggles {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 35px;
  }

  &__controls {
    gap: 30px;
  }

  &__search-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 15px;
    background-color: $color-alice-blue-light;
    border-radius: 40px;
    padding: 10px 23px;
    width: 210px;
    max-height: 50px;
    svg {
      margin-left: 4px;
      margin-bottom: 4px;
      width: 20px;
      height: 20px;
    }

    input {
      margin-bottom: 4px;
      margin-right: 4px;
      width: 164px;
      font-size: 15px;
      background-color: transparent;
      border: none;
      outline: none;
      color: $color-polo-blue;
    }

    input::-webkit-input-placeholder,
    input::-moz-placeholder,
    input:-ms-input-placeholder,
    input::-ms-input-placeholder,
    input::placeholder {
      color: $color-polo-blue;
    }
  }

  &__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: $color-alice-blue-light;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    svg {
      margin-bottom: 2px;
      width: 25px;
      height: 25px;
    }
  }
  &__avatar-container {
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1023px) {
  .header {
    &__button {
      display: none;
    }
  }
}
