.settings-page {
  &__wrapper {
    margin: 0 auto;
    background-color: $color-alice-blue-light;
  }
  &__wrapper::after {
    height: 100%;
    z-index: -1;
    background-color: $color-alice-blue-light;
  }

  &__header {
    background-color: $color-white;
  }
}

@media screen and (min-width: 1024px) {
  .settings-page {
    &__wrapper {
      display: grid;
      grid-template-columns: 250px 1fr;
      grid-template-rows: 100px 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }

    &__header {
      grid-area: 1 / 2 / 2 / 5;
    }

    &__side-menu {
      grid-area: 1 / 1 / 4 / 2;
    }

    &__content {
      grid-area: 2 / 2 / 4 / 5;
    }
  }
}

@media screen and (max-width: 1023px) {
  .settings-page {
    &__header {
      height: 140px;
    }
    &__content {
      min-height: 1200px;
    }

    &__side-menu {
      display: none;
    }
  }
}
