// Colors - https://www.htmlcsscolor.com/hex/

$color-white: #ffffff;
$color-dark-gray: #b1b1b1;
$color-wild-blue-yonder: #718ebf;
$color-bay-of-many: #343c6a;
$color-nero: #232323;
$color-pattens-blue: #dfeaf2;
$color-blue: #1814f3;
$color-alice-blue-light: #f5f7fa;
$color-wild-watermelon: #fe5c73;
$color-alice-blue: #e6eff5;
$color-polo-blue: #8ba3cb;
$color-solitude: #f4f5f7;
